{{ define "content" }}

  <p>Bonjour {{ .Destinataire.Nom }},</p>

  <p>Des délais de mise en conformités relatifs à l'inspection du {{ .DateInspection }} sur votre établissement {{ .RaisonEtablissement }} sis {{ .AdresseEtablissement }} sont expirés.</p>
  <p>Vous devez rapidement lever vos non-conformités et informer votre inspecteur de l'état d'avancement de vos actions correctives.</p>
  <p>Vous pouvez consulter le détail sur <a href="{{ $.BaseURL }}/inspections/{{ .InspectionId }}">Fil'Harmonic</a>.</p>

{{ end }}
